In [1]:
wd <- dirname(dirname(getwd()))
source(paste0(wd,"/mission_control/treasure_map.R"))
library(tidyverse)

Registered S3 method overwritten by 'rvest':
  method            from
  read_xml.response xml2
── Attaching packages ──────────────────────────────────────────────────────────────────── tidyverse 1.2.1 ──
✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.2     ✔ dplyr   1.0.6
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.1
Warning message:
“package ‘tibble’ was built under R version 3.6.3”Warning message:
“package ‘tidyr’ was built under R version 3.6.3”Warning message:
“package ‘purrr’ was built under R version 3.6.3”Warning message:
“package ‘dplyr’ was built under R version 3.6.3”Warning message:
“package ‘forcats’ was built under R version 3.6.3”── Conflicts ─────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

### 0 - Read individual studies

In [2]:
ready <- readRDS(paste0(TMP_DIR, "validation-ready.Rds"))

### 1 - Summarise

In [4]:
summary_table_1 <- (
  ready
    %>% group_by(Study, cohort, tissue)
    %>% summarise( tot = n(), 
                   age_mn = round(mean( as.numeric(age), na.rm = TRUE)),
                   age_me = round(1.96*round(sd(as.numeric(age), na.rm = TRUE))/sqrt(tot), 1),
                 bor_ct = sum(!is.na(bor)),
                 responders_ct = sum(bor, na.rm = TRUE),
                 non_responders_ct = bor_ct - responders_ct,
                 os_ct = sum(!is.na(os) & os!= 0),
                 tmb_ct = sum(!is.na(tmb)), 
                 rna_ct = sum(!is.na(tcell)), 
                 pretrt_ct = sum(!is.na(pretreat)),
                 complete_genomic_data_ct = sum(!is.na(tmb) & !is.na(tcell) & !is.na(pretreat)),
                 complete_data_ct = sum(!is.na(tmb) & !is.na(tcell) & !is.na(pretreat) & !is.na(bor)  & !is.na(os) & os != 0)
))

Warning message in mean(as.numeric(age), na.rm = TRUE):
“NAs introduced by coercion”Warning message in mean(as.numeric(age), na.rm = TRUE):
“NAs introduced by coercion”Warning message in is.data.frame(x):
“NAs introduced by coercion”Warning message in is.data.frame(x):
“NAs introduced by coercion”`summarise()` has grouped output by 'Study', 'cohort'. You can override using the `.groups` argument.

In [11]:
1491 - 339

[1] 1152

In [12]:
summary_table_1 %>% group_by(Study == "HMF-CPCT") %>% summarise(sum(tot),
                                                                sum(bor_ct),
                                                                sum(os_ct),
                                                                sum(complete_genomic_data_ct),
                                                                sum(complete_data_ct)
                                                               )

  Study == "HMF-CPCT" sum(tot) sum(bor_ct) sum(os_ct)
1 FALSE               1491     1294        1165
2  TRUE                479      467         479
  sum(complete_genomic_data_ct) sum(complete_data_ct)
1 339                           179
2 396                           385

In [5]:
summary_table_2 <- (
  ready
    %>% group_by(Study, cohort)
    %>% summarise( tot = n(), 
                   age_mn = round(mean( as.numeric(age), na.rm = TRUE)),
                   age_me = round(1.96*round(sd(as.numeric(age), na.rm = TRUE))/sqrt(tot), 1),
                   bor_ct = sum(!is.na(bor)),
                   responders_ct = sum(bor, na.rm = TRUE),
                   non_responders_ct = bor_ct - responders_ct,
                   os_ct = sum(!is.na(os) & os!= 0),
                   tmb_ct = sum(!is.na(tmb)), 
                   rna_ct = sum(!is.na(tcell)), 
                   pretrt_ct = sum(!is.na(pretreat)),
                   complete_data_ct = sum(!is.na(tmb) & !is.na(tcell) & !is.na(pretreat) & !is.na(bor)  & !is.na(os) & os != 0)
))

Warning message in mean(as.numeric(age), na.rm = TRUE):
“NAs introduced by coercion”Warning message in mean(as.numeric(age), na.rm = TRUE):
“NAs introduced by coercion”Warning message in is.data.frame(x):
“NAs introduced by coercion”Warning message in is.data.frame(x):
“NAs introduced by coercion”`summarise()` has grouped output by 'Study'. You can override using the `.groups` argument.

### 2 - Send them!

In [29]:
write.csv(summary_table_1, paste0(FIG_FINAL_DIR, "9_study_summaries_table1.csv"))
write.csv(summary_table_2, paste0(FIG_FINAL_DIR, "9_study_summaries_table2.csv"))